<nav class="navbar navbar-default  navbar-inverse navbar-static-top" style="margin-bottom: 0px; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('acceuil_restaurateurs')  }}">
      
        </a>  <ul class="nav navbar-nav navbar-right">
           <li>
            <a    href="{{path ('fos_user_security_login')}}"   >Se connecter</a>
        </li>
        <li>  
            <a href="{{ path ('restaurateurs_registration') }}" >S'inscrire</a>
        </li>      
         
    </ul>
        
    </div>
  </div>
</nav>
    