<header class="masthead"  >
    <div  style=" background-repeat: no-repeat;background-image:url( '../img/home.jpg');
    -webkit-background-size: cover ;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover    ; ">    
    <br> <br>    


    <div>
        <h1  style=" color: white ; text-align: center  " >
            <a href="#"  style=" color: white " >Jouretmenu.com</a>   
        </h1>
        <br>
        <h2  style=" color: white ;font-size: large;text-align: center ;">Pour vos déjeuner trouvez les plats du jours à proximité 
            <br>
            Aussi des menus intérrésants(Apéritif, Entrée +Plat+...) pour tout vos diners</h2>
            <br><br>
        </div>

   <div  style=" text-align: center ; padding: 3px ; " >
         {%  render(controller('JourEtMenuBundle:Recherche:recherche')) %}
        
{#             <input class="input"   type="text" style="width: 400px; #}
{#             height:50px;border-radius:5px;border-color: gray; " />#}
        <br><br><br> <br><br><br></div>        <br> <br>   


         <br><br><br>
        <br><br> <br> <br> <br> <br> <br>  
    </div>




</header>	


